.addUser{
    width: 25%;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    margin: 50px auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065) ;
}
.addUserForm{
    margin-top: 20px;
}
.addUserForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.addUserForm .inputGroup label{
    margin-bottom: 5px;
}
.addUserForm .inputGroup input{
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
}
.addUserForm .inputGroup button{
    border: 0;
    outline: none;
    background-color: purple;
    color: white;
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065) ;
}
.addUser h3{
    margin-top: 10px;
}